.container {
    padding-top: 2% !important;
    justify-content: center;
    margin-top: 5% !important;
}

.MuiGrid-spacing-xs-1 > .MuiGrid-item {
    padding-right: 10px;
    padding-left: 10px;
}

.card {
    width: 30%;
    margin: 0;
    padding: 0;
}

.selectBtn {
    width: fit-content;
}

.fileInputDiv {
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.imageIcon {
    position: absolute !important;
    margin-top: -1.8% !important;
    margin-left: 16.5% !important;
}

.imageUrl {
    height: 7px;
    width: 170% !important;
}

.input {
    width: 200px;
}

.MuiCardContent-root {
    padding: 3px 50px;
}

.btn {
    margin: 5px 5px 5px 10px !important;
    padding: 5px;
    width: 120px;
}

h3 {
    padding: 3px;
    margin: 3px;
}
