#CardContainer {
    width: 100%;
    height: 50%;
    display: flex;
    background-color: lightgrey;
}

#card:hover {
    margin: 0;
    padding: 0;
    border-radius: 6px;
    box-shadow: 3px 3px 3px 3px rgba(65, 66, 69, 0.44);
}

#bookImage {
    margin: 10px auto 10px auto;
    width: 40%;
    height: 135px;
}

.wishlist {
    margin-right: -195px !important;
    margin-top: -50px !important;
}

.bookTitle {
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding: 6px;
}

#addToCartButton {
    width: 140px;
    color: white;
    background-color: #b90f4b;
}

#addedToCartButton {
    width: 140px;
    color: white;
    background-color: #4d8cb9;
}

#cardBottom {
    padding: 10px;
}

.bookAuthorName {
    line-height: 0;
    text-align: left;
    color: #B1B1B1;
    padding: 6px;
    font-size: 12px;
    margin: -20px 0 0;
}

.bookPrice {
    font-size: 14px;
    text-align: left;
    font-weight: bold;
    padding-left: 6px;
    margin: 0;
    padding-bottom: 15px;
    padding-top: 20px;
}

.outOfStockLabel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22%;
    width: 60%;
    font-weight: bold;
    font-size: 12px;

}