.secondaryHeader {
    text-align: left;
    font-size: 1.4vmax;
    color: black;
    font-weight: bold;
    padding-left: 10vw;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}

.secondaryHeader-main-font {
    font-weight: bold;
    font-size: 18px;
}

.subHeader {
    color: #B1B1B1;
    font-weight: bold;
    font-size: 12px;
}

.homePageContainer {
    display: flex;
    justify-content: space-around;
    margin-left: 10vw;
    margin-right: 10vw;
}

#items {
    width: 20px;
    height: 20px;
}
