.hero {
    width: 55%;
    height: 75.5%;
    margin-top: 40px;
    margin-left: -130px;
    background-position: center;
    background-size: cover;
    position: absolute;
    display: flex;
    overflow: hidden;
}

.userLoginForm {
    /*
        margin-top: 3%;
        margin-left: 17%;*/
    display: flex;
}

.formBox {
    width: 624px;
    height: 400px;
    /*height: 350px;*/
    position: relative;
    margin: 4% 0 !important;
    background: #ffffff;
    padding: 5px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginBox {
    height: 453px;
    width: 389px;
    margin-top: 0 !important;
    margin-left: -27%;
    position: relative;
    box-shadow: 0 8px 16px 0 #b90f4b;
}

.loginImage {
    height: 245px;
    width: 245px;
    display: block;
    margin-left: 53px;
    margin-top: 40px;
    border-radius: 50%;
}

*, :after, :before {
    box-sizing: border-box
}

a {
    color: inherit;
    text-decoration: none
}

.loginWrap {
    width: 100%;
    height: 425px;
    position: relative;
}

.loginHtml {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 24px 30px 47px 30px;
}

.loginButton {
    outline: none;
}

#fullname, #email, #password, #phoneNumber, #password123 {
    font-size: 16px;
    height: 15px;
    /*padding-bottom: 23px;*/
}

.loginHtml .signUpHtml {
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.loginHtml .logInHtml {
    top: 12%;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.loginHtml .loginContainer {
    padding-top: 30px;
}

.loginHtml .LogIn,
.loginHtml .signUp,
.loginForm .group1 .check {
    display: none;
}

.loginHtml .tab1,
.loginHtml .tab2 {
    text-transform: uppercase;

}

.loginHtml .tab1 {
    font-size: 22px;
    margin-left: 20px;
    margin-right: 100px;
    padding-bottom: 5px;
    display: inline-block;
    color: gray;
    border-bottom: 4px solid transparent;
    cursor: pointer;
}

.loginHtml .tab2 {
    font-size: 22px;
    padding-bottom: 5px;
    display: inline-block;
    color: gray;
    border-bottom: 4px solid transparent;
    cursor: pointer;
}

.loginHtml .LogIn:checked + .tab1,
.loginHtml .signUp:checked + .tab2 {
    color: #000;
    border-color: #b90f4b;
}

.loginForm {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
}

.loginForm .password {
    position: relative;
    display: inline-block;
    margin-bottom: 2%;
}

.loginForm .group1 {
    margin-bottom: 5px;
}


.loginForm .password,
.loginForm .group1 .loginButton,
.loginForm .group2 .loginButton {
    width: 100%;
    color: #fff;
    font-size: 110%;
    display: block;
}

.loginForm .group1 .loginButton,
.loginForm .group2 .loginButton {
    font-size: 16px;
    border: none;
    padding: 8px 10px;
}

.loginForm .group1 .loginButton,
.loginForm .group2 .loginButton {
    background: #b90f4b;
    border-radius: 5px;
    cursor: pointer;
}

.loginHtml .LogIn:checked + .tab1 + .signUp + .tab2 + .loginForm .logInHtml {
    transform: rotate(0);
}

.loginHtml .signUp:checked + .tab2 + .loginForm .signUpHtml {
    transform: rotate(0);
}

.forgetPassword {
    text-align: right;
    font-size: 12px;
    color: #9D9D9D;
    margin-bottom: 7%;
    margin-top: -20px;
}

.forgetPassword:hover {
    color: #4d8cb9;
}

.passwordVisibility {
    position: absolute;
    display: inline-block;
    top: 15px;
    right: 10px;
    color: #B1B1B1;
}

