.resetPasswordVisibility{
    position: relative;
    margin-top: -200%;
    margin-left: 290px;
    margin-bottom: 70px;
    top: 15px;
    right: 10px;
    color: #B1B1B1;
}

#resetContainer{
    margin-top: 15px;
}

#resetText{
    align-content: center;
    margin-bottom: 2%;
    font-size: 25px;
}