#wishlistTitle {
    width: 75%;
    height: auto;
    margin-left: 10%;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    background-color: #f5f5f5;
    padding: 10px 20px 10px 3%;
    border: 1px solid #E4E4E4;
    border-bottom: none;
    border-radius: 5px;
}

#wishlistContainer {
    width: 75%;
    height: auto;
    margin-left: 10%;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    background-color: #ffffff;
    border: 1px solid #E4E4E4;
}

@media only screen and (max-width: 415px) {
    #wishlistTitle {
        width: 90%;
        height: auto;
        margin-left: 5%;
        text-align: left;
        font-size: 15px;
        font-weight: bold;
        background-color: #f5f5f5;
        padding: 10px 20px 10px 3%;
        border: 1px solid #E4E4E4;
        border-bottom: none;
        border-radius: 5px;
        overflow-x: hidden;
    }

    #wishlistContainer {
        width: 90%;
        height: auto;
        margin-left: 5%;
        text-align: left;
        font-size: 15px;
        font-weight: bold;
        background-color: #ffffff;
        border: 1px solid #E4E4E4;
        overflow-x: hidden;
    }
}

